* {
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}
header {
    position: fixed;
    top: 60px;
    left: 110px;
    right: 110px;
    background-color: #fff;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8%;
}
header .logo {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

ul li {
    position: relative;
    float: left;
}
li a {
    color: rgb(143, 140, 140);
    font-size: 16px;
    display: block;
    font-family: sans-serif;
    font-weight: 400;
    padding: 28px;
}

  .groundimage .img-line {
    margin-top: 180px;
    margin-left: 110px;
    margin-right: 110px;
    height: 350px;
    width: 50%;
    display: inline;
    position: static;
}

div.news {
    width: 50%;
    display: inline;
}
#square h1 {
    color: rgb(190, 151, 22);
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    }
    #square h3  {
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    #square a {
        color: rgb(119, 115, 115);
        font-size: small;
        padding-left: 20px;
        }
div#square {    
width: 500px;
height: 350px;
background: rgb(8, 8, 8);
display: inline-block;
float: right;
}
