* {
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}
header {
    position: fixed;
    top: 60px;
    left: 110px;
    right: 110px;
    background-color: #fff;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8%;
}
header .logo {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

ul li {
    position: relative;
    float: left;
}
ul li a {
    color: rgb(143, 140, 140);
    font-size: 16px;
    display: block;
    font-family: sans-serif;
    font-weight: 400;
    padding: 17px;
}
main .img-line {
    margin-top: 180px;
    margin-left: 110px;
    margin-right: 110px;
    height: 400px;
    width: 700px;
    position: flex;
}

