* {
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}
header {
    position: static;
    top: 60px;
    left: 110px;
    right: 110px;
    background-color: #fff;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8%;
}
header .logo {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

ul li {
    position: relative;
    float: left;
}
li a {
    color: rgb(143, 140, 140);
    font-size: 16px;
    display: block;
    font-family: sans-serif;
    font-weight: 400;
    padding: 28px;
    margin-left: 10%;
    
}
li a:hover {
    color: rgb(228, 143, 143);
}

  .groundimage .img-line {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 4%;
    height: 30%;
    width: 50%;
    display: inline-block;
    position: static;
}
div.future {
    font-family: sans-serif;
    font-size: 56px;
    font-weight: 900;
    margin-left: 10%;
    width: 20%;
    height: 20%;
    display: inline-block;
}

main .box {

    padding: 10px;
    width: 15%;
    margin-left: 1%;
    height: 20%;
    display: inline-block;
}
section.item p {
    font-family: sans-serif;
    font-size: small;
    display: inline-block;
    text-transform: capitalize;
    color: rgb(42, 41, 41);
 
}
button.click {
    width: 175px;
    height: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(246, 242, 242);
    border-radius: 2px;
    background-color: rgb(243, 94, 94);
    letter-spacing: 1vh;
}
button.click:hover {
    background-color: black;
}

#square h1 {
    color: rgb(190, 151, 22);
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    }
    #square h3  {
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        font-family: sans-serif;
        
    }
    #square a {
        color: rgb(119, 115, 115);
        font-size: small;
        padding-left: 20px;
        font-family: sans-serif;
        }
div#square {    
width: 350px;
height: 380px;
background: rgb(8, 8, 8);
display: inline;
float: right;
margin-right: 10%;
margin-left: 4%;

}
